@model SyncThinkTechnology.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductBarcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductBarcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerDetail.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerDetail.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supplier.SupplierBusinessName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplier.SupplierBusinessName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
